%h1 blog comments
%p 各メンバーのブログへのコメント数の推移
#chart
  .loading
    %div
      %img{:src => "/img/ajax-loader.gif"}
    %strong Loading...
%hr
#customize
  %form.form-horizontal
    %fieldset
      .control-group
        %label.control-label 表示/非表示
        .controls
          %label.checkbox.inline.momota
            %input{:type => "checkbox", :checked => params["check"] && params["check"][0] == "0" ? nil : "checked"} 百田夏菜子
          %label.checkbox.inline.ariyasu
            %input{:type => "checkbox", :checked => params["check"] && params["check"][1] == "0" ? nil : "checked"} 有安杏果
          %label.checkbox.inline.tamai
            %input{:type => "checkbox", :checked => params["check"] && params["check"][2] == "0" ? nil : "checked"} 玉井詩織
          %label.checkbox.inline.sasaki
            %input{:type => "checkbox", :checked => params["check"] && params["check"][3] == "0" ? nil : "checked"} 佐々木彩夏
          %label.checkbox.inline.takagi
            %input{:type => "checkbox", :checked => params["check"] && params["check"][4] == "0" ? nil : "checked"} 高城れに
      .control-group
        %label.control-label 表示範囲(X軸)
        .controls
          %input.input-small.datetime{:type => "text", :value => "#{ params["from"] || Date::today << 3 }"}
          #{"-"}
          %input.input-small.datetime{:type => "text", :value => "#{ params["to"]   || Date::today + 1  }"}
      .control-group
        %label.control-label 表示範囲(Y軸)
        .controls
          %input.input-small{:type => "text", :value => "0", :disabled => "disabled"}
          #{"-"}
          %input.input-small{:type => "number", :min => "100", :step => "100", :placeholder => "auto", :value => "#{ params["max"] }"}
      .control-group
        %label.control-label permalink
        .controls
          %input#permalink.url.span6{:type => "text", :readonly => "readonly", :value => "#{ request.url }"}
